.pokemons__pokedex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; /* Espacio entre las tarjetas */
  padding-left: 1em;
  padding-top: 2em;
}

.pokemons__pokedex > * {
  width: 95%; /* Asegúrate de que cada tarjeta ocupe todo el ancho de su contenedor */
}
