.pokemon__page__card {
  width: 90%;
  margin: 0 auto; /* Centra la tarjeta horizontalmente */
  border: 1px solid #ccc; /* Agrega un borde para que se vea como una tarjeta */
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}

.pokemon__image__page {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.center__page {
  text-align: center; 
}
.row__wh {
  display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.weight__height {
  margin: 0 10px; /* Añade un poco de espacio entre los elementos */
}
.TandH {
  display: flex;
  justify-content: center;
  gap: 6em;
}

.column_tandh {
  margin: 0 20px;
}

