.container__poke__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160vh
}

.pokemon__page__card {
  text-align: center;
  max-width: 900px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon__image__page {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}
.center__page {
  text-align: center; 
}
.row__wh {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.weight__height {
  margin: 0 10px; 
}
.TandH {
  display: flex;
  justify-content: center;
  gap: 6em;
}

.column_tandh {
  margin: 0 20px;
}

.types__habilities {
  padding-top: 1em;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.t__h__ li {
  background-color: #f2f2f2;
  padding: 1px 10px;
 
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
}
